@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

$main-color: #1A1A1A;
$accent-color: burlywood;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: $main-color;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    // background: rgb(51, 51, 51, );
    background-image: linear-gradient(90deg,
            rgba(128, 128, 128, 0.5),
            rgba(128, 128, 128, 0.3)),
        url('assets/PaymentBackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.5, transparent), to(transparent));
}

.flex-column {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: $main-color;
    font-family: 'Julius Sans One', sans-serif;
    transition: all 0.3s ease;

    a {
        color: white;
        text-decoration: none;
        padding: 25px 65px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $accent-color;
            transition: all .3s ease-in-out;
        }
    }

    .current-nav {
        border-bottom: 2px solid $accent-color;
    }

    .navbar-logo,
    button {
        display: none !important;
    }

}

#form {
    width: 750px;
    padding: 45px 30px 75px 30px;
    border-radius: 3px;
    margin: 50px auto 0px auto;
    @extend .flex-column;
    gap: 70px;
    background: rgb(26, 26, 26, 0.8);

    .section {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .form-group {
        @extend .flex-column;
        gap: 15px;
    }

    .form-control {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .form-control:focus {
        outline: 0;
        border-color: rgb(222, 184, 135, 0.8);
        box-shadow: 0 0 2px 1.5px rgb(222, 184, 135, 0.8);
    }

    .required-mark {
        margin-left: 5px;
    }

    .required-warning {
        font-size: 18px;
        margin-left: 5px;
        color: #ff3333;
        font-weight: 100;
        font-family: 'Montserrat' ,sans-serif;
    }

    h2 {
        color: white;
        font-size: 24px;
        font-family: 'Julius Sans One';
    }

    label {
        color: white;
        font-size: 20px;
        font-weight: 100;
        font-family: 'Montserrat', sans-serif;

        .required-mark {
            color: $accent-color;
        }
    }

    input, select {
        min-height: 35px;
        border-radius: 2px !important;
        padding: 5px 10px;
        font-family: 'Montserrat', sans-serif;
    }

    .m-width {
        width: 250px;
    }

    .s-width {
        width: 125px;
    }

    .xs-width {
        width: 100px;
    }

    .method-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .expire-wrap {
        width: 100% !important;
        gap: 5px !important;
    }

    .row {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    img {
        width: 60px;
    }

    .agree {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        input {
            width: 20px;
        }

        a {
            text-decoration: underline;
        }
    }

    .action {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: unset;
        justify-content: space-between;

        a, button {
            @extend .action;
            justify-content: center;
            width: 150px;
            height: 40px;
            color: white;
            border-radius: 2px;
            background-color: $main-color;
            font-weight: 300;
            font-family: 'Montserrat', sans-serif;
            transition: all .25s ease;

            &:hover {
                color: $main-color;
                background-color: $accent-color;
                transition: all .25s ease;
            }
        }
    }

    textarea {
        border-radius: 2px !important;
        padding: 5px 10px;
        min-height: 100px;
        font-family: 'Montserrat', sans-serif;
    }

    button {
        color: white;
        padding: 10px 0;
        font-size: 18px;
        background-color: $main-color;
        font-family: 'Julius Sans One';
        transition: all 0.3s ease;

        &:hover {
            color: $main-color;
            background-color: $accent-color;
            transition: all 0.3s ease;
        }
    }
}

footer {
    border: 1px solid transparent;
    background-color: $main-color;
    font-family: 'Montserrat', sans-serif;
    padding: 0 50px;

    .footer-wrapper {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0;
        border-bottom: 1px solid white;
    }

    .footer-top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    img {
        width: 300px;
    }

    .footer-header {
        font-size: 18px;
        font-weight: 300;
    }

    .footer-desc {
        color: white;
        font-weight: 300;
        text-align: justify;
        text-justify: inter-word;
        @extend .flex-column;
        gap: 50px;
    }


    .footer-nav {
        color: white;
        display: flex;
        justify-content: center;
        gap: 100px;

        ul {
            margin-top: 40px;
            @extend .flex-column;
            gap: 40px;
        }

        a {
            font-size: 16px;
            font-weight: 200;
            color: white;
            text-decoration: none;
            transition: all 0.125s ease-in-out;

            &:hover {
                color: $accent-color;
                transition: all 0.125s ease-in-out;
            }
        }
    }

    .socials {
        color: white;
        @extend .flex-column;
        align-items: flex-end;

        .social-list {
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: space-between;

            a {
                color: $accent-color;
                text-decoration: none;
                align-self: flex-end;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .location {
        color: white;
        display: flex;
        gap: 25px;
        align-items: center;

        i {
            font-size: 22px;
        }
    }

    .copyright {
        color: white;
        margin: 50px 0;
        text-align: center;
        font-weight: 300;
    }
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1024px) {
    nav {
        a {
            padding: calc(25px / 1.2) calc(65px / 1.4);
        }
    }

    footer {
        .footer-wrapper {
            height: auto;
            gap: 100px;
        }
    }
}

@media only screen and (max-width: 808px) {
    #form {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        a {
            padding: calc(25px / 1.2) calc(65px / 1.6);
        }
    }

    #form {
        .row {
            width: 90%;
        }
    }

    footer {
        .footer-top {
            display: grid;
            grid-template-columns: 2fr 2fr 1fr;
            gap: 25px;
        }

        .footer-desc {
            p {
                font-size: 14px;
            }
        }

        .footer-header {
            font-size: 16px;
        }

        .footer-nav {
            gap: 25px;
        }

        .socials {
            .social-list {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    nav {
        justify-content: space-between;

        .nav-wide {
            display: none;
        }

        .list-button {
            padding: calc(25px / 1.2) calc(65px / 1.6);
        }

        .offcanvas-header {
            padding: calc(25px / 1.2) 16px;
        }

        .navbar-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            display: block !important;
            object-fit: contain;
            height: auto;
            margin: calc(25px / 1.2) calc(65px / 1.6);

            img {
                width: 100%;
            }
        }

        button {
            font-size: 24px;
            color: $accent-color !important;
            display: inline-block !important;
        }

        .offcanvas {
            img {
                width: 186px;
            }

            button {
                color: $accent-color !important;
                font-size: 36px;
            }
        }

        .offcanvas-body {
            ul {
                display: flex;
                flex-direction: column;

                a {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    #form {
        padding: 60px 10px 60px 10px;
        
        label {
            font-size: 18px;
        }

        .m-width {
            width: calc(250px / 1.1);
        }
    
        .s-width {
            width: calc(125px / 1.1);
        }
    
        .xs-width {
            width: calc(100px / 1.1);
        }

        .row {
            width: 100%;
            gap: 35px;
            justify-content: unset;
        }
    }

    footer {
        .footer-top {
            display: grid;
            grid-template:
            'desc desc'
            'nav social';
            row-gap: 50px;
            column-gap: 25px;
        }

        img {
            width: 200px;
        }

        .footer-desc {
            grid-area: desc;
        }

        .footer-nav {
            grid-area: nav;
            justify-content: flex-start;
        }

        .socials {
            grid-area: social;
        }
    }
}

@media only screen and (max-width: 550px) {
    #form {
        .row {
            width: 100%;
            flex-wrap: wrap;
        }

        .m-width {
            width: calc(250px * 1.2);
        }
    
        .s-width {
            width: calc(125px * 1);
        }
    
        .xs-width {
            width: calc(100px * 1);
        }
    }
}

@media only screen and (max-width: 480px) {
    footer {

        padding: 0 20px;

        .footer-top {
            display: grid;
            grid-template:
            'desc'
            'nav'
            'social';
            row-gap: 50px;
            column-gap: 25px;
        }

        img {
            width: 200px;
        }

        .footer-desc {
            grid-area: desc;
        }

        .footer-nav {
            grid-area: nav;
            justify-content: flex-start;
            gap: 50px;
        }

        .socials {
            align-items: flex-start;
            .social-list {
                flex-direction: row;
                justify-content: space-between;
                a {
                    align-self: flex-start;
                }
            }
        }
    }
}