@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

$main-color: #1A1A1A;
$accent-color: burlywood;
$section-height: 800px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $main-color;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .2)),
            color-stop(.5, transparent), to(transparent));
}

.flex-column {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: $main-color;
    font-family: 'Julius Sans One', sans-serif;
    transition: all 0.3s ease;

    a {
        color: white;
        text-decoration: none;
        padding: 25px 65px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: $accent-color;
            transition: all .3s ease-in-out;
        }
    }

    .current-nav {
        border-bottom: 1px solid $accent-color;
    }

}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $section-height;
    background-image:
        linear-gradient(45deg,
            transparent,
            rgba(42, 50, 46, 0.5)),
        url('assets/heroImg.jpg');
    background-size: cover;

    img {
        width: 50vw;
    }
}

#about {
    .about {
        width: 100%;
        background-attachment: fixed;
        height: $section-height;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .about-info {
        @extend .flex-column;
        max-width: 45%;
        margin: 5%;
        padding: 0 20px;
        gap: 25px;

        h2 {
            font-size: 46px;
            font-weight: 400;
        }

        p {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .about-1 {
        background-image: url('assets/about1.jpeg');
        background-size: cover;

        .about-info-1 {
            color: white;
            text-align: justify;
            text-justify: inter-word;
            border-left: 2.5px solid white;
        }
    }

    .about-2 {
        background-image: url('assets/about2v2.jpg');
        background-size: cover;
        justify-content: flex-end;

        .about-info-2 {
            color: black;
            text-align: right;
            border-right: 2.5px solid black;

            a {
                color: white;
                background-color: black;
                width: 30%;
                padding: 8px 0;
                font-size: 24px;
                text-align: center;
                text-decoration: none;
                align-self: flex-end;
                border-radius: 3px;
                transition: all .25s ease;

                &:hover {
                    color: black;
                    background-color: $accent-color;
                    transition: all .25s ease;
                }
            }
        }
    }
}

#event {

    width: 100%;
    height: $section-height;

    .swiper {
        position: relative;
    }

    .swiper,
    .swiper-wrapper,
    .swiper-slide {
        width: 100%;
        height: $section-height;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: white;
        background-color: rgba(42, 50, 46, 0.5);
        margin: 0 2%;
        padding: 50px 25px;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .125s ease-in-out;

        &:hover {
            background-color: rgba(42, 50, 46, 0.8);
            transition: all .125s ease-in-out;
        }
    }

    .swiper-pagination-bullet {
        width: 35px;
        border-radius: 0;
    }

    .swiper-pagination-bullet-active {
        background-color: $accent-color;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 600;
        background-size: cover;
    }

    .event-1 {
        background-image: url('assets/event1.jpg');
        font-size: 54px;
        line-height: 1.8;

        p {
            max-width: 65%;
            text-shadow: -10px 15px 8px rgba(42, 50, 46, 0.5);
        }
    }

    .event-2 {
        background-image: url('assets/event2.jpg');
        background-position: center;
        font-size: 28px;
    }

    .event-3 {
        background-image:
        linear-gradient(45deg,
            transparent,
            rgba(42, 50, 46, 0.2)),
        url('assets/event3.jpg');
        background-position: center;
        font-size: 54px;
        line-height: 1.8;

        p {
            max-width: 50%;
        }
    }
}

footer {
    font-family: 'Montserrat', sans-serif;
    padding: 0 50px;

    .footer-wrapper {
        height: 425px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        padding: 50px 0;
        border-bottom: 1px solid white;
    }

    img {
        width: 300px;
    }

    .footer-header {
        font-size: 18px;
        font-weight: 300;
    }

    .footer-desc {
        color: white;
        font-weight: 300;
        text-align: justify;
        text-justify: inter-word;
        @extend .flex-column;
        justify-content: space-between;
    }

    .footer-desc-top {
        @extend .flex-column;
        gap: 50px;
    }

    .location {
        display: flex;
        gap: 25px;
        align-items: center;

        i {
            font-size: 22px;
        }
    }

    .footer-nav {
        color: white;
        display: flex;
        justify-content: center;
        gap: 100px;

        ul {
            margin-top: 40px;
            @extend .flex-column;
            gap: 40px;
        }

        a {
            font-size: 16px;
            font-weight: 200;
            color: white;
            text-decoration: none;
            transition: all 0.125s ease-in-out;

            &:hover {
                color: $accent-color;
                transition: all 0.125s ease-in-out;
            }
        }
    }

    .socials {
        color: white;
        @extend .flex-column;
        align-items: center;

        .social-list {
            margin-top: 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            a {
                color: $accent-color;
                text-decoration: none;
            }
        }
    }

    .copyright {
        color: white;
        margin: 50px 0;
        text-align: center;
        font-weight: 300;
    }
}

